{% extends "./supervisor_panel.html" %}

{% block title %} Información del Empleado {% endblock %}
{% block body %}
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="mb-4">Información del Empleado</h1>

        <form method="post" action="{% url 'buscar_marca_individual' %}" class="mb-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="empleado_id">ID del Empleado:</label>
                <input type="text" name="empleado_id" class="form-control" style="width: 300px;" required>
            </div>
            <button type="submit"  class="btn btn-primary">Buscar</button>
        </form>

        {% if empleado_info %}
            <div class="row">
                <div class="col-md-6">
                    <h2>Información del Empleado</h2>
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>ID Empleado: {{ empleado_info.empleado.empleado_id }}</p>
                            <p>Nombre: {{ empleado_info.empleado.nombre }}</p>
                            <p>Apellido 1: {{ empleado_info.empleado.apellido1 }}</p>
                            <p>Apellido 2: {{ empleado_info.empleado.apellido2 }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Marcas</h2>
                    {% if empleado_info.marcas.first %}
                        <table class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr>
                                    <th>Marca ID</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for marca in empleado_info.marcas %}
                                    <tr>
                                        <td>{{ marca.marca_id }}</td>
                                        <td>{{ marca.fecha }}</td>
                                        <td>{{ marca.hora }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay marcas para este empleado.</p>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <h2>Marcas2</h2>
                    {% if empleado_info.marcas2.first %}
                        <table class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr>
                                    <th>Marca ID</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for marca in empleado_info.marcas2 %}
                                    <tr>
                                        <td>{{ marca.marca_id }}</td>
                                        <td>{{ marca.fecha }}</td>
                                        <td>{{ marca.hora }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay marcas2 para este empleado.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}
