{% extends "./index.html" %}


{% block title %} Gestión de Cursos {% endblock %}
{% block body %}
<div class="container py-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido1</th>
                <th scope="col">Apellido2</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>

            </tr>
        </thead>
        <tbody>
            {% for marcasalida in marcassalida %}
            <tr>
                <th scope="row">{{ marcasalida.empleado_id }}</th>
                <td>{{ marcasalida.empleado.nombre }}</td>
                <td>{{ marcasalida.empleado.apellido1 }}</td>
                <td>{{ marcasalida.empleado.apellido2 }}</td>
                <td>{{ marcasalida.fecha }}</td>
                <td>{{ marcasalida.hora }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}