{% extends "./index.html" %}

{% block title %} Gestión de Cursos {% endblock %}
{% block body %}
<div class="container mt-3" style="max-width: 400px;">
    <img src="https://images.crunchbase.com/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/pmieo5a4ueozrpxovutw" alt=""
        style="max-width: 20%; height: auto;">
    <h2>Formulario de Marca Byte</h2>

    <form method="post" action="{% url 'viewmarca' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="empleado_id">Empleado:</label>
            <input type="text" class="form-control" id="empleado_id" name="empleado_id"
                placeholder="Ingrese su Numero de Empleado" required>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="text" class="form-control" id="fecha" name="fecha" readonly required>
        </div>
        <div class="form-group">
            <label for="hora">Hora:</label>
            <input type="text" class="form-control" id="hora" name="hora" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Marca</button>

        {% if messages %}
        {% for message in messages %}
        <h2 style="color: green;">{{message}}</h2>
        {% endfor %}
        {% endif %}

    </form>


    <script>
        // Función para actualizar la fecha y hora actual en Costa Rica
        function actualizarFechaHora() {
            var ahora = new Date();
    
            // Configurar la zona horaria de Costa Rica
            var opcionesFechaHora = { timeZone: 'America/Costa_Rica', hour12: false };
            var fechaHoraActual = ahora.toLocaleString('es-CR', opcionesFechaHora);
    
            // Separar la fecha y la hora
            var [fecha, hora] = fechaHoraActual.split(', ');
    
            // Formatear la fecha en el formato adecuado
            var dd = ahora.getDate();
            var mm = ahora.getMonth() + 1; // +1 porque los meses comienzan en 0
            var yyyy = ahora.getFullYear();
    
            // Ajustar el formato de la fecha
            fecha = yyyy + '-' + mm + '-' + dd;
    
            // Actualizar los campos de fecha y hora
            document.getElementById('fecha').value = fecha;
            document.getElementById('hora').value = hora;
        }
    
        // Actualizar la fecha y hora cada segundo
        setInterval(actualizarFechaHora, 1000);
    
        // Desactivar la edición del campo de la hora
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('hora').readOnly = true;
        });
    </script>
</div>
{% endblock %}
