{% extends "./index.html" %}


{% block title %} Gestión de Cursos {% endblock %}
{% block body %}
<div class="container mt-3" style="max-width: 400px;">
    <img src="https://images.crunchbase.com/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/pmieo5a4ueozrpxovutw" alt=""
        style="max-width: 20%; height: auto;">
    <h2>Formulario de Marca Byte</h2>
    
    <form method="post" action="{% url 'viewmarcasalida' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="empleado_id">Empleado:</label>
            <input type="text" class="form-control" id="empleado_id" name="empleado_id"
                placeholder="Ingrese su Numero de Empleado" required>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="date" class="form-control" id="fecha" name="fecha" readonly required>
        </div>
        <div class="form-group">
            <label for="hora">Hora:</label>
            <input type="text" class="form-control" id="hora" name="hora" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Marca</button>

        {% if messages %}
        {% for message in messages %}
        <h2 style="color: green;">{{message}}</h2>
        {% endfor %}
        {% endif %}

    </form>


    <script>
        // Función para actualizar la hora actual en formato HH:mm
        function actualizarHora() {
            var ahora = new Date();
            var horas = ahora.getHours().toString().padStart(2, '0');
            var minutos = ahora.getMinutes().toString().padStart(2, '0');
            var horaActual = horas + ':' + minutos;
            document.getElementById('hora').value = horaActual;

            // Actualizar la fecha automáticamente
            var fecha = ahora.toISOString().split('T')[0]; // Obtener la fecha en formato YYYY-MM-DD
            document.getElementById('fecha').value = fecha;
        }

        // Actualizar la hora cada segundo
        setInterval(actualizarHora, 1000);

        // Desactivar la edición del campo de la hora
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('hora').readOnly = true;
        });
    </script>
</div>
{% endblock %}