{% extends "./index.html" %}


{% block title %} Gestión de Cursos {% endblock %}
{% block body %}

<div class="container mt-5" style="max-width: 400px;">

    <img src="https://images.crunchbase.com/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/pmieo5a4ueozrpxovutw" alt=""
        style="max-width: 20%; height: auto;">

    <h2>Formulario de Empleado</h2>

    <form method="post" action="{% url 'viewingresoempleado' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="empleado_id">ID Empleado:</label>
            <input type="number" class="form-control" id="empleado_id" name="empleado_id" required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="apellido1">Apellido 1:</label>
            <input type="text" class="form-control" id="apellido1" name="apellido1" required>
        </div>
        <div class="form-group">
            <label for="apellido2">Apellido 2:</label>
            <input type="text" class="form-control" id="apellido2" name="apellido2" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Empleado</button>
        {% if messages %}
        {% for message in messages %}
        <h2 style="color: green;">{{message}}</h2>
        {% endfor %}
        {% endif %}

    </form>

    {% endblock %}